body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  background: linear-gradient(45deg, #252525, #292929);
  font-family: 'Roboto', sans-serif;
  padding: 50px;
  height: 100vh;
}

.container {
  width: 350px;
  height: 110px;
  border-radius: 15px;
  background: linear-gradient(93.95deg, #303030 0.31%, #1a1a1a 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  padding: 30px 40px;
  box-sizing: border-box;
  box-shadow: 6px 4px 27px rgba(0, 0, 0, 0.56);
  border: 1px solid rgba(255, 255, 255, 0.34);
  margin-bottom: 50px;
}

.greetingAndName,
.dateOfRegistration {
  margin: 0;
}

.greetingAndName {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 10px;
}

.greetingAndName > span {
  font-weight: bold;
}

.dateOfRegistration {
  font-size: 14px;
  color: #7e7e7e;
}
