header {
  background-color: #29282d;
  border-radius: 0px 0px 20px 20px;
  height: 85px;
  padding: 0 135px;

  display: grid;
  grid-template-columns: 2fr 9fr 1fr;
  align-items: center;
  gap: 30px;
}

.logo-image {
  width: 130px;
}

.header-tools {
  display: flex;
  justify-content: flex-end;
}
