nav {
  color: white;
}

.links {
  display: flex;
  gap: 20px;
  position: relative;
  margin: 0 0 8px 0;
  padding: 0;
}

.link {
  cursor: pointer;
}

.indicatorContainer {
  width: 100%;
  position: relative;
}

.indicator {
  background-color: white;
  height: 4px;
  width: 100px;
  border-radius: 20px;
  position: absolute;
}

.indicatorReady {
  transition: all 0.5s ease-out;
}

.link{
  color: white;
  cursor: pointer;
  text-decoration: none;
}

